*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav img{
    padding: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li a, #secondSection ul li a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
}

main section{
    padding: 5%;
    width: 50%;
}

main section h1{
    font-size: 40px;
}

main section form{
    padding-bottom: 20px;
}

main section button, #firstSection section button{
    color: white;
    background-color: orange;
}

main section span{
    padding-right: 10px;
}

main img{
    width: 50%;
}

#firstSection section h4, #secondSection section h4{
    color: orange;
}

#firstSection{
    display: flex;
    padding-bottom: 20px;
}

#firstSection div{
    width: 40%;
}

#firstSection section{
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 60%;
    padding-left: 20px;
    padding-right: 100px;
}

section #pickMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secondSection ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 10%;
    padding-left: 0;
}

#secondSection ul li{
    justify-content: center;
}


#secondSection ul li a:hover{
    border-bottom: 1px solid orange;
}

section #photos{
    display: flex;
}

section section div{
    padding-top: 20px;
    width: 25%;
}