*{
    box-sizing: border-box;
}
header, footer{
    height: 100px;
    border: 3px solid black;
    clear: both;
}
section{
    height: 600px;
    border: 3px solid black;
    float: left;
}

#section1{
    width: 20%;
}

#section2{
    width: 40%;
}

#section3{
    width: 20%;
}

#section4{
    width: 20%;
}