/* Box Model Hack */
* {
  box-sizing: border-box;
}

.nav-list > ul > li{
  list-style: none;
  width: max-content;

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  display: flex;
}


/******************************************
/* LAYOUT
/*******************************************/
/* nav,main,aside{
  float: left;
  width: 10%;
}
main{
  width: 50%;
}
aside{
  width: 40%;
}  */


nav{
  padding: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#logo{
  width: 60px;
}

#joinTC{
  font-weight: bold;
  font-size: 20px;
  color: #f5c918;
  text-decoration: none;
}

.nav-list > ul > li > a{
  text-decoration: none;
  color: rgb(105, 101, 101);
  font-size: 25px;
}