*{
    box-sizing: border-box;
}

header, body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: white;
    border-bottom: 5px solid beige;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

nav ul, nav input{
    padding-right: 20px;
}

nav input{
    height: 20px;
    padding-right: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

main section div, section{
    position: relative;
    z-index: 2;
}

main section{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-left: 20%;
}

h1{
    font-size: 40px;
}

h1, main section div p{
    color: white;
}

main img{
    border: 5px solid beige;
    border-radius: 40px;
    position: absolute;
    z-index: 1;
    transform-origin: 100% 100%;
    transform: rotate(3deg);
    top: 0;
    right: 60px;
    height: 100%;
    width: unset;
}

section div button, #firstVisit div{
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px beige;
}

section div button{
    height: 50px;
}

#firstVisit{
    padding-top: 5%;
    width: 40%;
}

#firstVisit div{
    padding-left: 10px;
    padding-bottom: 10px;
}

#firstVisit h2 a{
    text-decoration: none;
    color: white;
}

#firstVisit h2:hover{
    border-left: 2px solid beige;
}

#booking{
    color: black;
    background-color: lightgray;
    padding-bottom: 5px;
    box-shadow: none;
}

#secondSection{
    padding-top: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#thirdSection{
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
    text-align: center;
}

#thirdSection div{
    width: 40%;
    padding-left: 0;
}

@media (min-width: 1900px) {
    #secondSection{
        padding-top: 800px;
    }
}

@media (max-width: 560px) {
    h1, h2, h3, p{
        color: white;
        padding: 10px;
        background-color: black;
        border: beige solid 2px;
        border-radius: 10px;
        width: 260px;
    }
    main img{
        transform: rotate(0deg);
        width: 1000px;
        right: 0;
        border: 0px;
        border-radius: 0;
    }

    #firstVisit div{
        background: none;
        box-shadow: none;
        padding: 0;
    }

    section div button{
        width: 260px;
        height: 50px;
    }
    #secondSection, #thirdSection{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #secondSection{
        padding-top: 700px;
    }
}